# Configuration de la base de données
SQLALCHEMY_DATABASE_URI=mysql+pymysql://root:@localhost/agrilink_db

# Clé secrète pour JWT
SECRET_KEY=votre_cle_secrete_super_longue_et_complexe

# Configuration des emails (pour la réinitialisation de mot de passe)
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USE_SSL=False
MAIL_USERNAME=votre.email@gmail.com
MAIL_PASSWORD=votre_mot_de_passe_application
MAIL_DEFAULT_SENDER=noreply@agri-link.com

# API Google Gemini
GEMINI_API_KEY=votre_cle_api_gemini